:root {
  /* ============= FONTS & COLORS =============== */
  --body-font: "Poppins", sans-serif;
  --first-color-second: #f2cfbb;
  --first-color: #ff7629;
  --first-color-lighter: #f6b591;
  --second-color: #16181b;
  --second-color-lighter: #313137;
  --second-color-grey: #606061;

  /* ============= HOVER EFFECTS =============== */
  --transition: 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--first-color-second);
  background-image:
    url("./images/Ellipse\ 1.svg"),
    url("./images/Ellipse\ 3.svg"),
    url("./images/Ellipse\ 2.svg"),
    url("./images/Ellipse\ 4.svg");
  background-repeat: no-repeat;
  background-size: 15%, 30%, 30%, 15%;
  background-position: top left, center 30%, center 89%, bottom right;
  height: 100vh;
  animation: transitionIn 1s;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  padding: 1rem 30px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second-color);
  color: var(--first-color);
  animation: 1s ease-out slideInLeft;
}

nav > a {
  padding: 20px;
  color: var(--first-color);
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  background-color: var(--second-color);
  padding: 1.5rem;
  border-radius: 2rem;
  text-align: center;
}

/* =================== QUOTES ================== */

.quote-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10rem;
  flex-wrap: wrap;
  padding: 2rem;
  transition: var(--transition);
  max-width: 1500px;
}

.quote-item {
  width: 16rem;
  border-radius: 0.75rem;
  background-color: var(--second-color);
  color: var(--first-color);
  padding: 1rem;
}

.quote-title {
  color: var(--first-color-second);
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

.quote-description {
  font-size: 1rem;
  font-weight: 900;
}

.quote-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 50%;
}

/* =================== SWIPER ================== */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* .swiper {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 37rem;
  height: 42rem;
  position: relative;
} */

/* .slider-controller {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */

/* .slider-controller .swiper-btn-next {
  left: 58%;
  transform: translateX(-58%);
} */

/* =================== BUTTONS ================== */
.calculator-btn,
.operator {
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.4rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.calculator-btn {
  background-color: var(--second-color-lighter);
  color: var(--first-color);
}

.operator {
  background-color: var(--first-color);
  color: black;
}

.calculator-btn:hover {
  background-color: white;
  color: var(--second-color);
  transition: var(--transition);
}

.operator:hover {
  background-color: white;
  color: var(--second-color);
  transition: var(--transition);
}

.grey-btn {
  color: white;
  background-color: var(--second-color-grey);
}

.equal-btn {
  color: black;
  background-color: white;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container > h2 {
  font-size: 30px;
}

.span-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: span 2;
  color: white;
  font-size: 3rem;
  padding: 2rem 0.3rem;
}

.span-2 {
  grid-column: 1/3;
}

.quote {
  font-size: 32px;
  font-weight: 500;
  margin-top: 220px;
  padding: 0 20px;
  text-align: center;
}

.home-content {
  padding: 0 10px;
}
